@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
  --white: white;
  --light-yellow: #ffee80;
  --black: black;
  --grey: grey;
  --background-black: rgb(41, 41, 41);
  --light-color: rgb(206, 203, 203);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --header-height: 3.5rem;

  /* fonts and typography */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* font-weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* js classes */

.show-menu {
  right: 0%;
}

.scroll-header {
  border-radius: 0 0 1rem 1rem;
  background-color: var(--black);
  box-shadow: 0 2px 4px var(--light-color);
}

/* shape  */
.shape {
  background-color: var(--light-color);
  filter: blur(112px);
  border-radius: 50%;
}

.shape__big {
  width: 400px;
  height: 400px;
}

.shape__small {
  width: 300px;
  height: 300px;
}

* {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: var(--normal-font-size);
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(185, 185, 185);
}

img {
  max-width: 70%;
  height: auto;
  border-radius: 5px;
}

.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-fixed);
  background: transparent;
  width: 100%;
}

.nav__logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: var(--font-medium);
  align-items: center;
  column-gap: 0.25rem;
  transition: 0.3s;
}

.header .logo,
.nav__toggle {
  color: white;
  display: inline-flex;
  cursor: pointer;
  font-size: 1.5rem;
}

.header .logo span {
  color: var(--yellow);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  position: relative;
  overflow: hidden;
}

.home__data {
  text-align: center;
}

.home__container {
  position: relative;
  padding-top: 4rem;
  row-gap: 3rem;
}

.home__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

.home__elec {
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--light-color);
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.home__elec i {
  color: var(--white);
}

.home img {
  width: 100%;
  justify-self: center;
}

.home__car {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  margin-bottom: 2rem;
}

.home__car-name {
  font-size: 0.625rem;
  font-weight: 400;
  color: var(--light-color);
}

.home__car-icon {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  border-radius: 50%;
  padding: 0.376rem;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
}

.home__car-data {
  text-align: center;
}

.home__car-number {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.home .shape__big,
.home .shape__small {
  position: absolute;
}

.home .shape__big {
  left: -9rem;
  top: -4rem;
}

.home.shape__small {
  right: -10rem;
  bottom: 3rem;
}
.home__button {
  position: relative;
  border: 2px solid var(--light-color);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-self: center;
  font-size: var(--small-font-size);
  color: var(--white);
  font-weight: var(--font-medium);
}

.home__button::before {
  content: '';
  border: 2px solid var(--light-color);
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
  animation: button 3s infinite;
}

@keyframes button {
  0% {
    box-shadow: 0 0 12px var(--light-color);
  }
  50% {
    box-shadow: 0 0 24px var(--light-color);
  }
}

/* ABOUT */
.about__container {
  row-gap: 6rem;
}

.about__group {
  position: relative;
}

.about__img {
  width: 310px;
  border-radius: 0.5rem;
}

.about__card {
  width: 180px;
  height: 70px;
  position: absolute;
  right: 0;
  bottom: -1.5rem;
  background-color: var(--light-color);
  backdrop-filter: blur(16px);
  padding: 1rem 0.75rem;
  text-align: center;
  border-radius: 1.25rem;
}

.about__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
  color: var(--black);
}

.about__card-description {
  font-size: var(--smaller-font-size);
}

.about__title {
  text-align: initial;
  margin-bottom: 2rem;
}

.about__description {
  margin-bottom: 2rem;
  color: var(--light-color);
}

/* BUTTON */
.button {
  display: inline-block;
  background-color: var(--light-color);
  color: var(--black);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: var(--normal-font-size);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--grey);
}
.newsletter {
  padding: 6rem 2rem;
  background: url(../image/letter-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.newsletter h3 {
  font-size: 3rem;
  color: var(--black);
}

.newsletter p {
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.newsletter form {
  max-width: 60rem;
  height: 5rem;
  background: #fff;
  border-radius: 5rem;
  overflow: hidden;
  display: flex;
  margin: 1rem auto;
  box-shadow: var(--box-shadow);
}

.newsletter form input[type='email'] {
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}

.newsletter form input[type='submit'] {
  height: 100%;
  width: 17rem;
  font-size: 1.7rem;
  color: var(--black);
  background: var(--light-yellow);
  cursor: pointer;
}

.newsletter form input[type='submit']:hover {
  background: var(--yellow);
}

.reviews .review-slider {
  padding-bottom: 3rem;
}

.reviews .review-slider .box {
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
  opacity: 0.4;
  transform: scale(0.9);
}

.reviews .review-slider .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 0.5rem;
}

.reviews .review-slider .box img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.reviews .review-slider .box .content p {
  color: var(--light-color);
  font-size: 1.4rem;
  padding: 1rem 0;
}

.reviews .review-slider .box .content h3 {
  color: var(--black);
  font-size: 2.2rem;
  padding-bottom: 0.5rem;
}

.reviews .review-slider .box .content .stars i {
  color: var(--yellow);
  font-size: 1.7rem;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row .map {
  flex: 1 1 42rem;
  width: 100%;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 0.5rem;
}

.contact .row form {
  padding: 2rem;
  flex: 1 1 42rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  text-align: center;
  border-radius: 0.5rem;
}

.contact .row form h3 {
  font-size: 3rem;
  color: var(--black);
  padding-bottom: 1rem;
}

.contact .row form .box {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  text-transform: none;
  border: var(--border);
  margin: 0.7rem 0;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.footer {
  background: var(--light-yellow);
  padding-bottom: 8rem;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--black);
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  padding: 1rem 0;
  color: var(--light-color);
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--black);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  padding: 1.5rem;
  padding-top: 2.5rem;
  margin-top: 2rem;
  border-top: var(--border);
  font-size: 2rem;
  color: var(--black);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  .header.active {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .nav__menu {
    position: fixed;
    background-color: var(--background-black);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(96px);
    transition: 0.3s;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    padding-top: 9rem;
  }

  .nav__link {
    text-transform: uppercase;
    color: white;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    transition: 0.3s;
  }

  .nav__link:hover {
    color: var(--grey);
  }

  .nav__close {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  #login-btn .btn {
    display: none;
  }

  #login-btn i {
    display: block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a {
    margin: 2rem;
    display: block;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}
