*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* -======= Contact =====- */

.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--primary-color);
}

.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

contact-text {
  flex-basis: 48%;
}

.contact-text p {
  font-size: 32px;
  margin-bottom: 30px;
  margin-right: 40px;
}

.contact-text h6,
.contact-text .address,
.contact-text .mail {
  font-size: var(--medium-font-size);
}

.contact-text h6 {
  color: var(--dar-blue-color);
}

.contact-form {
  flex-basis: 48%;
}

.cont .contact-form form {
  display: flex;
  flex-direction: column;
}

.cont .contact-form form label {
  font-size: var(--medium-font-size);
  padding: 10px 0;
}

.cont .contact-form form input,
.cont .contact-form form textarea {
  font-size: var(--medium-font-size);
  padding: 10px 30px;
  font-family: var(--body-font) !important;
  resize: none;
  margin: 6px 0;
  border-radius: 12px;
  outline: none;
  border: 2px solid var(--grey-color);
}

.cont .contact-form form input[type='submit'] {
  margin: 16px 0;
  width: 26%;
  cursor: pointer;
  border: 2px solid var(--dar-blue-color);
  font-size: var(--medium-font-size);
  background-color: var(--dar-blue-color);
  color: var(--primary-color);
  font-weight: 500;
  transition: 0.4s;
}

.cont .contact-form form input[type='submit']:hover {
  background-color: var(--primary-color);
  color: var(--dar-blue-color);
  font-weight: 600;
}

.contact--button {
  display: inline-block;
  background-color: var(--light-color) !important;
  color: var(--black) !important;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: var(--normal-font-size);
  transition: 0.3s;
  text-align: center !important;
}

.contact--button:hover {
  background-color: var(--grey) !important;
  color: var(--white) !important;
  transition: 0.3s;
}

/* -======= Media Queriers =====- */

@media (max-width: 500px) {
  .cont {
    display: block;
    flex-direction: column;
  }
  .contact {
    padding-top: 0;
  }
  .cont .contact-form form input,
  .cont .contact-form form textarea {
    width: 100%;
  }
  .cont .contact-form form input[type='submit'] {
    width: 23%;
    font-size: var(--small-font-size);
  }
  .contact-text p {
    margin-right: 0;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .cont {
    display: block;
    flex-direction: column;
  }
  .contact {
    padding-top: 0;
  }
  .cont .contact-form form input,
  .cont .contact-form form textarea {
    width: 100%;
  }
  .cont .contact-form form input[type='submit'] {
    width: 23%;
    font-size: var(--small-font-size);
  }
  .contact-text p {
    margin-right: 0;
  }
}
